/*--body*/
body {
    background:white ;
    font-family: 'Zen Antique', serif;
    color: #5080ad;
    text-align: center;
}
/*---header*/
.heading {
    text-align: center;
}
/*---score*/
.score-board {
    margin: 5px auto;
    width: 60%;
    font-size: 1.2rem;
}
/*--button*/
button {
    border: none;
    color:#5080ad;
    padding: 15px 45px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    background-color: black;
}

button {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  
button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }

/*----reset*/

.reset {
    text-align: center;
    padding-top:20%;
    font-family: 'Zen Antique', serif;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: white;
    text-decoration: underline;
}

a:link {
    color: #5080ad;
}

a:visited {
    color: #5080ad;
}
a:link {
    text-decoration: none;
}
  
a:visited {
    text-decoration: none;
}
