/*--body*/
body {
    background:white ;
    font-family: 'Zen Antique', serif;
    color: #5080ad;
    text-align: center;
}
/*---header*/
.heading {
    text-align: center;
}
/*---score*/
.score-board {
    margin: 20px auto;
    border: 3px solid #5080ad;
    width: 200px;
    text-align: center;
    color: #5080ad;
    font-size: 46px;
    border-radius: 4px;
    padding: 15px 20px;
    font-family: 'Zen Antique', serif;
    position: relative;
}
  
.badge {
    font-size: 14px;
    padding: 2px 28px;
    font-family: 'Zen Antique', serif;
}
  
#player-label {
    position: absolute;
    top: 30px;
    left: -25px;
    border-radius: 3px;
}
  
#computer-label {
    position: absolute;
    top: 30px;
    right: -25px;
    border-radius: 3px;
}
  
.result {
    color: #5080ad;
    font-family: 'Zen Antique', serif;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

/*----reset*/
.reset {
    text-align: center;
    padding-top:20%;
    font-family: 'Zen Antique', serif;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: white;
    text-decoration: underline;
}

a:link {
    color: #5080ad;
}

a:visited {
    color: #5080ad;
}
a:link {
    text-decoration: none;
}
  
a:visited {
    text-decoration: none;
}
